
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }} | {{.Page.Title}}{{ end }}</title>
    <!--Required for Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Font Awesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--Bootstrap 4.3 CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href={{"css/main.css" | relURL}}>
  </head>
  <body background={{"bg_pattern.png" | relURL}}>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href={{"/" | relURL}}>.aghdom</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href={{"/about" | relURL}}>about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/cv">cv</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{"/posts" | relURL}}>posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docs">docs</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="row justify-content-center">
      <div class="container my-2 row justify-content-center bg-white">
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
      </div>
    </div>
    {{ block "footer" . }}
    <footer class="container-fluid mt-3 text-center bg-light text-muted fixed-bottom">
      <div>&copy; 2019</div>
      <span>Powered by <a href="http://gohugo.io">Hugo</a></span>
      <span>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/{{.Site.Params.github_username}}">{{.Site.Params.github_username}}</a></span>
      <span>| <a href="{{"posts"| absURL }}/index.xml"><i class="fas fa-rss"></i></a></span>
    </footer>
    {{ end }}
    <!--Bootstrap 4.3 JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>