{{ define "main" }}
<section id="main" class="col-10">
  <h1 id="title">{{ .Title }}</h1>
  <small class="text-muted">{{ .Date.Format "Mon Jan 2, 2006" }} - {{.ReadingTime}} min.</small>
  <hr>
  <div class="mx-2">
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<div class="col-lg-10 col-12 my-2">
  <hr>
  <div class="d-flex justify-content-between">
  {{ with .PrevInSection }}
    <div class="mr-auto">
    <i class="fas fa-chevron-left"></i>
    <a class="previous text-dark h5" href="{{.Permalink}}">{{.Title}}</a>
    </div>
  {{ end }}
  {{ with .NextInSection }}
    <div class="ml-auto">
    <a class="previous text-dark h5" href="{{.Permalink}}">{{.Title}}</a>
    <i class="fas fa-chevron-right"></i>
    </div>
  {{ end }}
  </div>
</div>
{{ end }}