<li class="list-group-item">
  <div>
    <div><small class="text-muted">{{.Date.Format "2006-01-02"}}</small></div>
    <a class="mr-1" href="{{.Permalink}}">{{.Title}}</a>
    <small><i class="fas fa-hourglass-half text-muted"></i> ~{{.ReadingTime}} min.</small>
    {{ with .Params.tags }}
      <div>
          <small class="text-muted">
          <i class="fas fa-tags"></i>
          </small>
        {{ range . }}
         <a class=" badge badge-light" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
   {{end}}
  </div>
</li>