{{define "main"}}

<div class="my-3">
    <img src="https://gitlab.com/uploads/-/system/user/avatar/2933296/avatar.png" id="avatar" class="mx-auto mb-3 rounded-circle border border-secondary d-block" width="25%">
    <div class="d-flex">
        <a href="https://gitlab.com/aghdom" class="ml-auto text-secondary"><i class="h4 fab fa-gitlab"></i></a>
        <a href="mailto:agh.dominik@gmail.com" class="text-secondary mx-2"><i class="h4 fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/dominik-agh" class="mr-auto text-secondary"><i class="h4 fab fa-linkedin"></i></a>


    </div>
    <div class="text-center col-12 pb-3">
        {{.Content}}
    </div>
    <div>
        <h4>Technologies I Work With:</h4>
        <hr>
        <div class="card-deck">
        {{range $name, $value := .Site.Taxonomies.technologies}}
            <div class="card list-group-item-action">
                <a class="stretched-link text-decoration-none"href="/technologies/{{$name | urlize}}">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <span class="card-title font-weight-bold">{{ $name | title}}</span>
                        <small class="card-substitle text-muted">Posts: {{ .Count }}</small>
                    </div>
                </div>
                </a>
            </div>
        {{end}}
        </div>
    </div>
</div>
{{end}}