{{ define "main"}}
    <main id="main">
      <div>
       <h1>Oops, looks like the content you are looking for is not here</h1>
       <p>If you got redirected here by one of in page links, sorry, my bad. Otherwise it's your own fault for trying to be clever.</p>
       <h1 id="title"><a href="{{ "/" | relURL }}">Go Home</a></h1>
      </div>
    </main>
{{ end }}