{{ define "main" }}
    <main aria-role="main" class="my-2">
      <header class="homepage-header">
      </header>
      <div>
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div>
        <h2>Recent Posts</h2>
        <div>
          <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
          <ul class="list-group list-group-flush">
          {{ range first 10 (where .Pages "Section" "posts") }}
            {{.Render "li"}}
          {{ end }}
          </ul>
          <div class="post-pagination">
            <a href={{"/posts"| relURL}} class="btn btn-outline-primary mt-3">Older posts</a>
          </div>
        </div>
        <div>
      </div>
    </main>
{{ end }}